@{
    ViewBag.Title = "Add Inventory - Modal PopUp";
}

<title>@ViewBag.Title</title>

<!-- Button to trigger modal -->
<a href="#" id="addItem" @*data-id=1 data-id="@item.Id"*@>Add Item?</a>


@section scripts
{
    <script>
        var PostBackURL = '/TakeInventory/Details';
        alert('Javascript loaded=scripts running');

        $("#addItem").click(function () {
        //$("#anchorDetail").click(function () {
            alert('anchor link was clicked');
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: PostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $(document).on("click", "#closbtn", function () {
            alert('closbtn was clicked');
            $('#myModal').modal('hide');
        });
    </script>
}